* {
  padding: 0;
  margin: 0;
 }
:root {
  --grey: #1E1E1E;
  --paragraph: Gravity;
  --title: Anticva;
  --orange: #FFA800;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: var(--grey);
  font-family: var(--paragraph);
  font-weight: 350;
  margin-left: 100px;
  margin-right: 100px;
}
.menu a {
  color: var(--grey);
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  transition: all ease 0.5s;
}
.menu a:hover {
  color: var(--orange);
}
.projects {
  border-right: solid 1px var(--grey);
}
.about {
  border-right: solid 1px var(--grey);
}
.title {
  color: var(--grey);
  font-family: var(--title);
  font-size: 70px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.whoAmI {
  color: var(--grey);
  font-family: var(--paragraph);
  font-weight: lighter;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.workWithMeButton {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 1px var(--orange);
  padding: 18px 30px 13px 30px;
  color: var(--grey);
  font-family: var(--title);
  margin-top: 150px;
  background: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.workWithMeButton:hover {
  background: var(--orange);
  color: #fff;
}
.myProjects {
  color: var(--grey);
  font-family: var(--paragraph);
  font-weight: lighter;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.myProjects p {
  padding: 0 40px 0 40px;
}
.frontend {
  border-left: 1px solid var(--grey);
}
hr {
  margin: 20px 100px 65px 100px;
}
.firstProject {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
