* {
  padding: 0;
  margin: 0;
 }
:root {
  --grey: #1E1E1E;
  --paragraph: Gravity;
  --title: Anticva;
  --orange: #FA5A0A;
}
.paragraph {
  color: var(--grey);
  font-family: var(--paragraph);
  font-size: 25px;
  font-weight: lighter;
}
.anticvaLittle {
  font-family: var(--title);
  font-size: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: var(--grey);
  font-family: var(--paragraph);
  font-weight: 350;
  margin-left: 100px;
  margin-right: 100px;
}
.contacts {
  display: flex;
  align-content: baseline;
}
.contacts img {
  margin-top: -5px;
  padding: 0 5px 0 5px;
  width: 25px;
  cursor: pointer;
}
.menu a {
  color: var(--grey);
  text-decoration: none;
  padding-right: 40px;
  padding-left: 40px;
  transition: all ease 0.5s;
}
.menu a:hover {
  color: var(--orange);
}
.projects {
  border-right: solid 1px var(--grey);
}
.about {
  border-right: solid 1px var(--grey);
}
.titleName {
  color: var(--grey);
  font-family: var(--title);
  font-size: 70px;
}
.title {
  font-family: var(--title);
  color: var(--grey);
  font-size: 45px;
}
.name {
  display: flex;
  justify-content: center;
  margin-top: 230px;
}
.wrapper {
  display: flex;
  padding: 0 100px 0 100px;
  margin-bottom: 100px;
  align-items: flex-end;
}
.aboutMe {
  margin-top: 375px;
}
.aboutMeWrapper {
  margin: 160px 0 0 100px;
  width: 750px;
  height: 283px;
  border-left: 1px solid var(--grey);
  padding-left: 100px;
}
.greeting {
  font-family: var(--title);
  font-size: 35px;
  margin-bottom: 17px;
}
.whoAmI {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.mainPageButton {
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 150px;
}
.aboutMePageButton {
  margin-top: 32px;
}
.workWithMeButton {
  border: solid 1px var(--orange);
  padding: 18px 30px 13px 30px;
  color: var(--grey);
  font-family: var(--title);
  background: none;
  cursor: pointer;
  transition: all ease 0.5s;
}
.workWithMeButton:hover {
  background: var(--orange);
  color: #fff;
}
.myProjects {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}
.myProjects p {
  padding: 0 40px 0 40px;
  cursor: pointer;
}
.frontend {
  border-left: 1px solid var(--grey);
}
hr {
  margin: 20px 100px 65px 100px;
}
.firstProject {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 40px 100px;
}
.siteDesignImg {
  width: 700px;
  height: 391px;
}
.projectTitle {
  font-size: 30px;
  font-family: var(--title);
  color: var(--grey);
}
.drinks {
  display: none;
}
.drinks.active {
  display: block;
}
.Projects.active {
  display: block;
}
.Projects {
  display: none;
}
.skills {
  padding: 200px 100px 0 100px;
}
.myskills {
  display: flex;
  justify-content: flex-end;
  font-family: var(--title);
  color: var(--grey);
  font-size: 45px;
}
.blockWrapper {
  display: flex;
  justify-content: space-between;
}
.block {
  width: 42%;
  min-width: 300px;
  min-height: 300px;
  background: #F9F4F0;
  padding: 35px;
  margin-top: 45px;
}
.skillsArea {
  font-family: var(--title);
  font-size: 30px;
  color: var(--orange);
  padding-bottom: 20px;
}
.listOfSkills {
  margin-left: 20px;
}
.block.programmes {
  background: none;
  padding-top: 0;
}
.programm {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
}
.workWithMe {
  margin-top: 150px;
}
.soft-skillTitle {
  font-family: var(--title);
  color: var(--orange);
  font-size: 20px;
  margin: 50px 0 20px 0;
}
.soft-skills {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}
.soft-skillBlock {
  width: 30%;
}
.education {
  display: flex;
  justify-content: center;
}
.educationBlockWrapper {
  display: flex;
  justify-content: space-between;
}
.educationBlock {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  width: 30%;
}
.educationTitle {
  padding: 10px 0;
}
.educationTitleOrange {
  color: var(--orange);
}
